@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cider Site - Account";
}
@using CiderSite.Models
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name</h4>
}
else
{
    <h4>Please @Html.ActionLink("sign up", "Signup") for a user account, or @Html.ActionLink("log in", "Login").</h4>
}
