
/*font-family: 'Patua One', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Roboto', sans-serif;*/

/* #### Sitewide #### */
.read-article {
    margin-top: 5px;
}


body a {
    color: #3d2103;
    font-size: 1.2em;
    font-weight: 600;
}
body a:hover {
    color: #82521F;
}

.read-article a {
    background-color: #3d2103;
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 0px;
    font-size: 0.8em;
}
.read-article a:hover {
    background-color: #82521F;
    color: white;
}

div.trans-background-list {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px 40px 40px 40px;
    margin-top: 30px;
    border-radius: 6px;
}
div.trans-background-list img {
    margin-right: 20px;
}

div.input-field input {
    border-bottom: solid;
    border-color: #82521F;
    border-width: 1px;
}
div.input-field input[type=text]:focus {
    border-bottom: solid;
    border-color: #3d2103;
    box-shadow: 0 1px 0 0 #3d2103;
    border-width: 1px;
}

div.input-field input[type=password]:focus {
    border-bottom: solid;
    border-color: #3d2103;
    box-shadow: 0 1px 0 0 #3d2103;
    border-width: 1px;
}
div.input-field input[type=email]:focus {
    border-bottom: solid;
    border-color: #3d2103;
    box-shadow: 0 1px 0 0 #3d2103;
    border-width: 1px;
}

div.input-field textarea {
    border-bottom: solid;
    border-color: #82521F;
    border-width: 1px;
}
div.input-field textarea.materialize-textarea:focus {
    border-bottom: solid;
    border-color: #3d2103;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #3d2103;
}

input.file-path {
    border-bottom: solid;
    border-color: #82521F;
    border-width: 1px;
    color: black;
}


input.file-path::placeholder {
    
    color: black;
}

div.input-field label {
    color: black;
}

input.validate {
    border-bottom: solid;
    border-color: #82521F;
    border-width: 1px;
}


/* #### Shared Layout #### */
body {
    background-image: url(../img/apple-orchard.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

.brand-logo {
    font-family: 'Boogaloo', sans-serif;
    letter-spacing: .05em;
}

span.space {
    margin-right: 3px;
}
span.less-space {
    margin-left: -1px;
}

div.nav-wrapper {
    background-color: #3d2103;
    border-color: #281602;
}
a.button-collapse {
    color: white;
    font-size: 3em;
}

/* #### Home #### */
div.blog-list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

div.blog-list-photo img {
    width: 200px;
}


/* #### Blog #### */
div.blog-details img {
    width: 800px;
}

/* #### Profile #### */
div.profile-hello h4 {
    font-weight: 500;
    color: white;
}
div.profile-blog {
    margin-bottom: 23px;
}
p.profile-links {
    margin-bottom: 30px;
}
div.trans-background-profile {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 40px 40px 40px;
    margin-top: 30px;
    border-radius: 6px;
}
div.trans-background-profile img {
    margin-right: 20px;
    }
span.pipe-separator {
    height: 11px;
    border-left: solid;
    border-color: #474747;
    border-width: 2px;
    margin: 0px 8px 0px 5px;
}

div.blog-content h5 {
    margin-bottom: 15px;
}


div.input-field select {
    border-bottom: solid;
    border-color: #82521F;
    border-width: 1px;

}


/* #### Media Query #### */
@media screen and (max-width: 1300px) {
    div.blog-details img {
        width: 700px;
    }
}
@media screen and (max-width: 1100px) {
    div.blog-details img {
        width: 600px;
    }
}
@media screen and (max-width: 768px) {
    div.blog-details img {
        width: 400px;
    }
}
@media screen and (max-width: 575px) {
    div.blog-details img {
        width: 300px;
    }
}